<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,64}</string>
                <key>spriteSourceSize</key>
                <string>{49,64}</string>
                <key>textureRect</key>
                <string>{{61,1},{49,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,64}</string>
                <key>spriteSourceSize</key>
                <string>{49,64}</string>
                <key>textureRect</key>
                <string>{{1,47},{49,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,44}</string>
                <key>spriteSourceSize</key>
                <string>{58,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,48}</string>
                <key>spriteSourceSize</key>
                <string>{64,48}</string>
                <key>textureRect</key>
                <string>{{52,67},{64,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tanks.png</string>
            <key>size</key>
            <string>{117,116}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2a0aedee616c5b216db05344d802a54:305ded022a2d674f32c8ac67c4bee167:4cc8a6e5bf0618d549a49c2c9647b222$</string>
            <key>textureFileName</key>
            <string>tanks.png</string>
        </dict>
    </dict>
</plist>
